<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<title class="i18n" name='title'></title>
<meta id="i18n_pagename" content="message">
<link rel="stylesheet" th:href="@{/static/style/console.css}" media="all">
<link rel="stylesheet" th:href="@{/font2/iconfont.css}"/>
<link rel="stylesheet" th:href="@{/font3/iconfont.css}"/>
<head th:include="include :: header">
<body>
<div class="layui-fluid" style="padding-bottom: 0;">
  <div class="notice box-shadow-index">
    <span class="icon iconfont icon-notice"></span>
    <font id="notice"></font>
  </div>
  <div class="personnel-reminder box-shadow-index">
    <div class="text">人事提醒</div>
    <!-- <div class="personnel-reminder-icon">敬请期待。。。</div> -->
    <div class="personnel-reminder-icon">
      <div class="personnel-reminder-box">
        <i class="iconfont3 icon-weiqianhetong">
          <span class="layui-badge">99</span>
        </i>
        <p>入职当日合同未签</p>  
      </div>
      <div class="personnel-reminder-box">
        <i class="iconfont3 icon-shiyongqiguanli">
          <span class="layui-badge">99</span>
        </i>
        <p>本月试用期到期</p>  
      </div>
      <div class="personnel-reminder-box">
        <i class="iconfont3 icon-daoqitixing">
          <span class="layui-badge">99</span>
        </i>
        <p>合同即将到期</p>  
      </div>
      <div class="personnel-reminder-box">
        <i class="iconfont3 icon-shengri">
          <span class="layui-badge">99</span>
        </i>
        <p>本月生日员工</p>  
      </div>
      <div class="personnel-reminder-box">
        <i class="iconfont3 icon-jingqingqidai"></i>
        <p>即将退休</p>  
      </div>
      <div class="personnel-reminder-box">
        <i class="iconfont3 icon-jingqingqidai"></i>
        <p>本月实习到期</p>  
      </div>
      <div class="personnel-reminder-box">
        <i class="iconfont3 icon-jingqingqidai"></i>
        <p>本月入职周年</p>  
      </div>
    </div>
  </div>

  <div class="layui-row">
    <div class="layui-col-md12">
      <div class="layui-row" style="display:flex;">
        <div class="layui-col-md3 box-shadow-index">
          <div class="layui-card h388 h388_1" style="border-radius:20px;">
            <div class="layui-card-body" id="left_one">
              <script id="not_Apply" type="text/html">
                <div class="h388_1_content fl h388_1_content_1"  >
                  <p>{{$.i18n.prop('boss.console.lab1')}}</p>
                  <p>{{$.i18n.prop('boss.console.lab2')}}</p>
                </div>
              </script>
              <script id="not_Bpply" type="text/html">
                <div class="h388_1_content fl h388_1_content_1" th:if="${user.currAffiliatedCompany} == null" >
                  <p>{{$.i18n.prop('boss.console.lab1')}}</p>
                  <p>{{$.i18n.prop('boss.console.lab2')}}</p>
                </div>

                <div class="contract_send" th:if="${user.currAffiliatedCompany} != null" id="dataContent">
                  <a lay-href="boss/templateInfo/2" style="display:block;" shiro:hasPermission="boss:templateInfo:view">
                    <button class="layui-btn button1 layui-btn-normal">
                      <i class="icon iconfont icon-qianyuejilu"></i>
                      <span>{{$.i18n.prop('boss.console.lab3')}}</span>
                    </button>
                  </a>
                  <a lay-href="boss/contract/directContract" style="display:block;" shiro:hasPermission="boss:contract:direct">
                    <button class="layui-btn layui-btn-primary" style="margin-top: 0;">
                      <img th:src="@{/images/pdf.png}"/>
                      <span>{{$.i18n.prop('boss.console.lab13')}}</span>
                    </button>
                  </a>
                  <span >{{$.i18n.prop('boss.console.lab4')}}<font id="num"></font>
                    </span>
                </div>
              </script>
            </div>
          </div>
        </div>
        <div class="layui-col-md6 box-shadow-index" style="margin: 0 10px;">
          <div class="layui-card h388 h388_2" style="border-radius:20px;">
            <div class="layui-card-header header-top">
              <div class="console-left i18n" data-properties="boss.console.lab6" data-ptype="html"></div>
              <div class="console-right" shiro:hasPermission="boss:contract:audit:needMe">
                <a id="needMeAudit" style="cursor: pointer">
                  <span style="display: inline-block;margin-left:40px;color: white" class=" i18n" data-properties="boss.console.needmeaduit" data-ptype="html"></span>
                  <cite id="needMeAuditCite" style="color: white"></cite>
                </a>
              </div>
            </div>
            <div class="layui-card-body flex">
              <div class="circle">
                <div style="width: 118px;position: absolute;top: 122px;display: flex;flex-direction: column;align-items: center;left: -72px;">
                  <span style="font:38px bold 黑体;color:#555555;"><span id="percentage"></span><span id="Percent" style="font-size: 25px;"></span></span>
                  <span id="percentageText" style="font:18px bold 黑体;color:#555555;"></span>
                </div>
                <canvas id="myCanvas" style="margin-left: -125px;" width="190px" height="300px"></canvas>
              </div>
              <div class="layui-carousel layadmin-carousel layadmin-backlog height-auto">
                <div carousel-item>
                  <ul class="layui-row layui-col-space10">
                    <li class="layui-col-xs6 h140">
                      <!--lay-href="boss/contract/1"-->
                      <a class="layadmin-backlog-body" id="needMe">
                        <span>
                          <p><cite class="needMe cite-color1"></cite></p>
                          <h3 class="i18n" data-properties="boss.console.lab7" data-ptype="html"></h3>
                        </span>
                        <i class="icon iconfont icon-gaizhang"></i>
                      </a>
                    </li>
                    <li class="layui-col-xs6 h140">
                      <!--lay-href="boss/contract/0"-->
                      <a  class="layadmin-backlog-body" id="needOther">
                        <span>
                          <p><cite class="needOther cite-color2"></cite></p>
                          <h3 class=" i18n" data-properties="boss.console.lab8" data-ptype="html"></h3>
                        </span>
                        <i class="icon iconfont icon-signature"></i>
                      </a>
                    </li>

                    <li class="layui-col-xs6 h140">
                      <!--lay-href="boss/contract/4"-->
                      <a class="layadmin-backlog-body" id="refused">
                        <span>
                          <p><cite class="refused cite-color3"></cite></p>
                          <h3 class=" i18n" data-properties="boss.console.lab9" data-ptype="html"></h3>
                        </span>
                        <i class="icon iconfont icon-yijuqiantab"></i>
                      </a>
                    </li>

                    <li class="layui-col-xs6 h140">
                      <!--lay-href="boss/contract/2"-->
                      <a  class="layadmin-backlog-body" id="finished">
                        <span>
                          <p><cite class="finished cite-color4"></cite></p>
                          <h3 class="i18n" data-properties="boss.console.lab10" data-ptype="html"></h3>
                        </span>
                        <i  class="iconfont icon-qianyuechenggong"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="layui-col-md3 box-shadow-index">
          <div class="layui-card h388 h388_1" style="border-radius:20px;">
            <div class="layui-card-header header-top">
              <div class="console-left i18n">档案柜</div>
              <div class="layui-row">
                <div class="layui-col-md4 file-cabinet-num">
                  <p>999</p>
                  <p class="color">已收集</p>
                </div>
                <div class="layui-col-md4 file-cabinet-num">
                  <p>999</p>
                  <p class="color">已提交</p>
                </div>
                <div class="layui-col-md4 file-cabinet-num">
                  <p>999</p>
                  <p class="color">进行中</p>
                </div>
              </div>
              <a lay-href="boss/contract/directContract" style="display:block;text-align: center;margin-top:60px;">
                <button type="button"  class="layui-btn layui-btn-normal layui-btn-radius view-details-button">查看详情</button>
              </a>
              <p style="text-align: center;margin-top:20px;">可发送份数：99991434</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div id="warningDiv" class="box-shadow-index"></div>
  
  <div class="layui-fluid shzr" style="padding:15px 0;">
  <div class="layui-row layui-col-space10" style="display:flex;">
    <div class="layui-col-md3 box-shadow-index">
      <div class="title" style="position: absolute;">
        <label class=" i18n" data-properties="boss.console.lab12" data-ptype="html"></label>
      </div>
    
      <div class="flex-p52">
        <i class="icon iconfont icon-new_custom"></i>
        <div>
          <p><font id="express"></font><span class="i18n" data-properties="boss.console.times" data-ptype="html"></span></p>
          <span class="i18n" data-properties="boss.console.express" data-ptype="html"></span>
        </div>
      </div>
    </div>
    <div class="layui-col-md3 box-shadow-index" style="margin:0 10px;">
      <div class="flex-p52">
        <i class="icon iconfont icon-add_file"></i>
        <div>
          <p><font  id="zz"></font><span class="i18n" data-properties="boss.console.sheets" data-ptype="html"></span></p>
          <span class="i18n" data-properties="boss.console.paper" data-ptype="html"></span>
        </div>
      </div>
    </div>
    <div class="layui-col-md3 box-shadow-index" style="margin:0 10px;">
      <div class="flex-p52">
        <i class="icon iconfont icon-groups"></i>
        <div>
          <p ><font id="works"></font><span class="i18n" data-properties="boss.console.labours" data-ptype="html"></span></p>
          <span class="i18n" data-properties="boss.console.labour" data-ptype="html"></span>
        </div>
      </div>
    </div>
    <div class="layui-col-md3 box-shadow-index">
      <div class="flex-p52">
        <i class="icon iconfont icon-jinbi"></i>
        <div>
          <p ><font id="envPro"></font><span class="icon iconfont icon-jinbi_"></span></p>
          <span class="i18n" data-properties="boss.console.eco" data-ptype="html"></span>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div style="padding: 0 15px;" class="layui-fluid h226 box-shadow-index">
    <li style="line-height: 40px;background: #fff;margin-bottom: 20px;padding-top: 0px;"><span style="font-size:16px;margin:0 40px 0 20px;">操作手册</span><i class="icon iconfont icon-xiazai"></i><font id="peop1" style="cursor: pointer;" class="i18n" data-properties="boss.console.pmanual" data-ptype="html"></font> / <font style="cursor: pointer;" id="fac1" class="i18n" data-properties="boss.console.emanual" data-ptype="html"></font>
    </li>
   </div>
</div>
<script id="warningScript" type="text/html">
  <div class="title">
    {{$.i18n.prop('boss.console.lab11')}}
  </div>
  <div class="yujing">
    <ul>

      {{# layui.each(d, function(index, item){ }}
      <li data-startNum="{{item.name}}" data-endNum="{{item.after}}">
        <div>
          <div>
            <!--{{# if(d.length!=index+1){ }}-->
              <!--<img th:src="@{/static/style/res/001.png}"/>-->
            <!--{{# } else { }}-->
              <!--<img th:src="@{/static/style/res/002.png}"/>-->
            <!--{{# } }}-->
            <!--{{# if(i18nLanguage=='en'){ }}-->
              <!--<em style="left: 10px;font-size: 15px">{{item.name}}<font style="font-size:8px">-->
            <!--{{# } else { }}-->
              <!--<em>{{item.name}}<font>-->
            <!--{{# } }}-->
            <!--{{$.i18n.prop('boss.console.days')}}</font></em>-->
            <img style="width: 65px;" th:src="@{/static/style/res/001.png}"/>
              {{#if(d.length==index+1){}}
                <em style="top: 32px;">{{item.name}}<span class="more">+</span></em>
              {{#} else {}}
                <em style="top: 32px;">{{item.name}}</em>
              {{#}}}
          </div>
          <span>{{item.value}}<i>{{$.i18n.prop('boss.console.person')}}</i></span>

          {{# if(d.length==index+1){ }}
            <i class="icon iconfont icon-xuyaotarenqianshu_g"></i>
          {{# } }}
        </div>
      </li>
      {{# }); }}
    </ul>
  </div>
</script>


<!--<div class="layui-fluid h226">-->
  <!--<div class="whitebg">-->
    <!--<div class="layui-row">-->
      <!--<div class="layui-col-md3">-->
         <!--<h3 class="i18n" data-properties="boss.console.contactus" data-ptype="html"></h3>-->
         <!--<ul>-->
           <!--<li>-->
             <!--<i class="icon iconfont icon-tubiao210"></i>400-889-4545-->
           <!--</li>-->
           <!--<li style="cursor: pointer;" id="weixin">-->
             <!--<div class="wei_icon4">-->
               <!--<image th:src="@{/static/style/res/wei_icon_4.png}" style="padding-right:0px;" />-->
             <!--</div>-->
             <!--<i class="icon iconfont icon-weixin"></i><font>CHENYANG173077</font>-->
           <!--</li>-->
           <!--<li>-->
             <!--<i class="icon iconfont icon-xiazai"></i><font id="peop" class="i18n" data-properties="boss.console.pmanual" data-ptype="html"></font> / <font id="fac" class="i18n" data-properties="boss.console.emanual" data-ptype="html"></font>-->
           <!--</li>-->
         <!--</ul>-->
      <!--</div>-->
      <!--<div class="layui-col-md3">-->
        <!--<h3 class="i18n" data-properties="boss.console.esigning" data-ptype="html"></h3>-->
        <!--<div>-->
          <!--<image th:src="@{/static/style/res/wei_icon_1.jpg}"/>-->
          <!--<span class="i18n" data-properties="boss.console.esigning.brief" data-ptype="html"></span>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="layui-col-md3">-->
        <!--<h3 class="i18n" data-properties="boss.console.ehr" data-ptype="html"></h3>-->
        <!--<div>-->
          <!--<image th:src="@{/static/style/res/wei_icon_3.jpg}"/>-->
          <!--<span class="i18n" data-properties="boss.console.ehr.brief" data-ptype="html"></span>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="layui-col-md3">-->
        <!--<h3 class="i18n" data-properties="boss.console.ciic" data-ptype="html"></h3>-->
        <!--<div>-->
          <!--<image th:src="@{/static/style/res/wei_icon_2.jpg}"/>-->
          <!--<span class="i18n" data-properties="boss.console.ciic.brief" data-ptype="html"></span>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<div class="all" style="display:none"></div>
<script th:src="@{/static/layui/layui.js}"> </script>
<script th:src="@{/static/jquery.js}"></script>
<script src="/static/jquery.i18n.properties.js"></script>
<script src="/static/jquery.waypoints.js"></script>
<script src="/static/jquery.countup.js"></script>
<script src="/static/language.js"></script>
<script th:src="@{/static/ajax.js}"></script>
<script th:inline="javascript">
/*<![CDATA[*/
var userId = [[${user.userId}]];
var ctxx = [[@{../}]];
/*]]>*/
</script>
  <script>
      layui.config({
          base: '/static/' //静态资源所在路径
      }).extend({
          index: 'lib/index' //主入口模块
      }).use(['index', 'console','index', 'tree2', 'form', 'table', 'modal', 'laydate', 'laytpl'], function () {
          var $ = layui.$
              , form = layui.form
              , admin = layui.admin
              , modal = layui.modal
              , table = layui.table
              , laydate = layui.laydate
              , laytpl = layui.laytpl;
          var allFlag = false;
          var finshFlag = false;
          var allNum = 0;
          var finshNum = 0;
          var obj = {
              getTypeDate:function(num,dom,data){
                  var v = 0
                  var that = this;
                  $.ajax({
                      type: "POST",
                      url: ctxx +'boss/contract/signNumber',
                      data: {"signStatus":num},
                      dataType: "json",
                      success: function(e){
                          dom&&dom.empty().text(e.data);
                          dom.countUp({
                            delay: 10,
                            time: 1000
                          });
                          if (num === '2') {
                            finshFlag = true;
                            finshNum = e.data;
                          }
                          if (data === 'getData') {
                            allFlag = true;
                            allNum = e.data;
                          }
                          if (finshFlag&&allFlag) {
                            that.setCircle()
                          }
                          if(data){
                              $('#express').html(e.data*2)
                              $('#works').html(e.data*3/100)
                              $('#envPro').html(e.data*30)
                          }
                      }
                  });
              },
              setCircle:function(){
                var f = Number(finshNum);
                var all = Number(allNum);
                var data = all == 0 ? 0 : Math.round(f/all*100)
                //简单地检测当前浏览器是否支持Canvas对象，以免在一些不支持html5的浏览器中提示语法错误
                var canvas = document.getElementById('myCanvas');  //获取canvas元素
                if (canvas.getContext) {
                  var context = canvas.getContext('2d'),  //获取画图环境，指明为2d
                  centerX = canvas.width / 2,   //Canvas中心点x轴坐标
                  centerY = canvas.height / 2,  //Canvas中心点y轴坐标
                  rad = Math.PI * 2 / 100, //将360度分成100份，那么每一份就是rad度
                  lineWidth = 20,
                  speed = 0.1; //加载的快慢就靠它了

                  //绘制运动外圈
                  function blueCircle(n) {
                    context.save();
                    var grd = context.createLinearGradient(0,0,170,0);
                    // grd.addColorStop(0, "#1da3e2");
                    // grd.addColorStop(1, "#2489E0");
                    grd.addColorStop(0, "#00D8FF");
                    grd.addColorStop(1, "#0099FF")
                    context.strokeStyle = grd; //设置描边样式
                    context.lineWidth = lineWidth; //设置线宽
                    context.beginPath(); //路径开始
                    context.arc(95, 150, 83, -Math.PI / 2, -Math.PI / 2 + n * rad, false); //用于绘制圆弧context.arc(x坐标，y坐标，半径，起始角度，终止角度，顺时针/逆时针)
                    context.lineCap="round";
                    context.stroke(); //绘制
                    context.closePath(); //路径结束
                    context.restore();
                  }
                  //绘制外圈
                  function whiteCircle() {
                    context.save();
                    context.beginPath();
                    context.lineWidth = lineWidth; //设置线宽
                    context.strokeStyle = "#F7F7F7";
                    context.arc(95, 150, 83, 0, Math.PI * 2, false);
                    context.stroke();
                    context.closePath();
                    context.restore();
                  }
                  function text(n) {
                    $('#percentage').html(n.toFixed(0));
                    $('#Percent').html('%');
                    $('#percentageText').html($.i18n.prop('boss.console.successrate'));
                  }
                  //动画循环
                  (function drawFrame() {
                    var stop = window.requestAnimationFrame(drawFrame);
                    context.clearRect(0, 0, canvas.width, canvas.height);
                    whiteCircle();
                    text(speed);
                    blueCircle(speed);
                    if (speed > data){
                      speed = 0;
                      window.cancelAnimationFrame(stop);
                    };
                    speed += 0.3;
                  }());
                }
              },
            setHtml:function () {
                  $.ajax({
                    type: "POST",
                    url: ctxx +'system/role/checkRole',
                    data: JSON.stringify({"userId":userId}),
                    dataType: "json",
                    contentType:'application/json',
                    success: function(e){
//                        console.log(e.code)
                        var getTpl = e.code==1?not_Apply.innerHTML:not_Bpply.innerHTML
                            ,view = $('#left_one')
                            ,_this = this
                        laytpl(getTpl).render({}, function(html){
                            view.html(html) ;
                            if($('#num').length>0){
                                obj.getAmount()
                            }
                        });
                    }
                })

            },
              getAmount:function(){
                  $.ajax({
                      type: "GET",
                      dataType: "json",
                      url: ctxx + "/boss/account/getAmount" ,
                      success: function (result) {
                          if (result.code == '0') {
                              $('#num').html(result.data)
                          }
                      }
                  })
              },
              getWarning:function(){
                  $.ajax({
                      type: "Post",
                      dataType: "json",
                      contentType: "application/json; charset=utf-8",
                      data: JSON.stringify({"followStatus":1}),
                      url: ctxx + "boss/warning/noSign/count" ,
                      success: function (result) {
                          if (result.code == '0') {
                              var arr=[]
                              for(var i=0;i<result.date.length;i++){
                                  if(i==0){
                                      arr.push({"name":"3","value":result.date[i],"after":"6"})
                                  }else if(i==1){
                                      arr.push({"name":"6","value":result.date[i],"after":"10"})
                                  }else if(i==2){
                                      arr.push({"name":"10","value":result.date[i],"after":"15"})
                                  }else if(i==3){
                                      arr.push({"name":"15","value":result.date[i],"after":"20"})
                                  }else if(i==4){
                                      arr.push({"name":"20","value":result.date[i],"after":"25"})
                                  }else if(i==5){
                                      arr.push({"name":"25","value":result.date[i],"after":""})
                                  }
                              }
                              var getTpl = warningScript.innerHTML
                                  ,view = $('#warningDiv')
                              laytpl(getTpl).render(arr, function(html){
                                  view.html(html) ;
                              });
                          }
                      }
                  })
              },
              events:function(){
                  $('#weixin').on('mouseover',function(){
                      $('.wei_icon4').stop().fadeIn(300);
                  }).on('mouseout',function(){
                      $('.wei_icon4').stop().fadeOut(300);
                  })

                  $('#notice').parent().on('click',function(){
                      var id = $('#notice').attr("data-id")

                      parent.parent.layui.index.openTabsPage(ctxx+'boss/account/content/'+id, $('#notice').attr("data-title"));
                  })


                  $('#needMe').on('click',function(){
                      parent.layui.index.openTabsPage(ctxx+'boss/contract/1', $.i18n.prop("boss.console.lab7"));
                  })
                  $('#needOther').on('click',function(){
                      parent.layui.index.openTabsPage(ctxx+'boss/contract/0', $.i18n.prop("boss.console.lab8"));
                  })
                  $('#refused').on('click',function(){
                      parent.layui.index.openTabsPage(ctxx+'boss/contract/4', $.i18n.prop("boss.console.lab9"));
                  })
                  $('#finished').on('click',function(){
                      parent.layui.index.openTabsPage(ctxx+'boss/contract/2', $.i18n.prop("boss.console.lab10"));
                  })
                  $('#fac').on('click',function(){
                      obj.downloadFile(1)
                  })
                  $('#fac1').on('click',function(){
                      obj.downloadFile(1)
                  })
                  $('#peop').on('click',function(){
                      obj.downloadFile(2)
                  })
                  $('#peop1').on('click',function(){
                      obj.downloadFile(2)
                  })
                  $('#needMeAudit').on('click',function(){
                      parent.layui.index.openTabsPage(ctxx+'/boss/workflow/1', $.i18n.prop("boss.console.needmeaduit"));
                  })

                  $(document).on('click','.yujing li',function(){
                      var startnum = $(this).attr('data-startnum');
                      var endnum = $(this).attr('data-endnum');
                      parent.layui.index.openTabsPage(ctxx+'boss/warning/list?'+startnum+'&'+endnum, startnum+$.i18n.prop("boss.console.nosignwarn"));
                  })
              },
              savePaper:function(){
                  $.ajax({
                      type: "GET",
                      dataType: "json",
                      url: ctxx + "boss/notice/info/updateInfo" ,
                      success: function (e) {
                          $('#notice').html(e.data.context).attr({"data-id":e.data.id,"data-title":e.data.noticeTitle})
                      }
                  })
              },
              paperNum:function(){
                  $.ajax({
                      type: "POST",
                      dataType: "json",
                      url: ctxx + "boss/contract/paperNum" ,//url
                      success: function (e) {
                          $('#zz').html(e.data);
                      }
                  })
              },
              downloadFile:function(i){
                  window.open(ctxx + "/boss/notice/download?type="+i )
              },
              init:function(){
                  this.paperNum();
                  this.savePaper();//获取通知
                  this.events();//事件
                  this.setCircle();//画圆
                  this.setHtml();//渲染按钮还是文字
                  this.getTypeDate("1",$(".needMe"))//需要我操作
                  this.getTypeDate("2",$(".finished"))//签约完成
                  this.getTypeDate("4",$(".refused"))//员工拒签
                  this.getTypeDate("0",$(".needOther")) //需要他人操作
                  this.getTypeDate("",$(".all"),'getData') //需要他人操作
                  this.getWarning()//获取预警信息
                  this.getNeedMeAduit($("#needMeAuditCite"));
              },
              getNeedMeAduit:function(dom) {
                  $.ajax({
                      type: "POST",
                      dataType: "json",
                      url: ctxx + 'boss/workflow/getNeedMeCount',
                      success: function (result) {
                          if (result.code == '0') {
                              dom&&dom.empty().text(result.data);
                          }
                      }
                  });
              }
          }
          obj.init();
      })
  </script>
<style>
  .yujing{
    background:#fff;
    margin:15px;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
    overflow:hidden;
  }
  .yujing ul{
    display:flex;
  }
  .yujing li{
    flex:1;
    text-align:center;
    padding-top:20px;
    padding-bottom:20px;
    position:relative;
    cursor: pointer;
  }
  .yujing li>div{
    padding-right:20px;
  }
  .yujing li:not(:nth-last-child(1)) >div,
  .yujing li:not(:last-child) >div{
    border-right:1px solid #E7E7E7;
  }

  .yujing li:last-child{
    background:url(../../static/style/res/b_b.png) no-repeat;
    color:#fff;
    padding-right:40px;
  }
  .yujing div>div{
    position:relative;
    display: inline-block;
  }
  .yujing li em{
    position: absolute;
    /*left: 25px;*/
    left: 50%;
    transform: translateX(-50%);
    top: 38px;
    font-size:22px;
    font-weight:bolder;
    color:#009DFA;
  }
  /*.yujing li:last-child em{*/
    /*position: absolute;*/
    /*!*left: 25px;*!*/
    /*left: 35%;*/
    /*transform: translateX(-50%);*/
    /*top: 38px;*/
    /*font-size:22px;*/
    /*font-weight:bolder;*/
    /*color:#009DFA;*/
  /*}*/
  /*.yujing li:not(:last-child){*/
    /*color:#29aeff;*/
  /*}*/
  .yujing  font{
    font-size: 15px;
    font-style: normal;
    padding-left: 2px;
  }
  .yujing li>div>span{
    font-size:30px;
    padding-left: 20px;
    padding-top: 10px;
    position: relative;
    top: 12px;
  }
  .yujing li>div >span i{
    font-size:16px;
    font-style: inherit;
  }
  .yujing div>i{
    position: absolute;
    right: -9px;
    bottom: -12px;
    color: #79C0FE;
    font-size: 90px;
  }
  .yujing .more{
    /*position: relative;*/
    /*top: 12px;*/
    font-size: 15px;
  }
  .contract_send{
    margin-top: 20px;
    text-align:center;
    float:right;
    margin-right:40px;
  }
  .contract_send .button1 {
    height:110px;
    background: url(../../static/style/res/b_s.png) no-repeat;
  }
  .contract_send button{
    cursor: pointer;
    margin-top: 5px;
    width: 280px;
    height: 90px;
    font-size: 20px;
    border-radius:20px;
    margin-bottom:20px;
  }
  .contract_send button i{
    font-size:30px;
    padding-right:6px;
  }
  .contract_send button img{
    position:relative;
    width:30px;
    height: 30px;
    padding-right:6px;
    top:-5px;
  }
  .contract_send button span{
    position:relative;
    top:0px;
    font-size: 25px;
  }
  .file-cabinet-num {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .file-cabinet-num p {
    display: inline-block;
    height: 30px;
  }
  .file-cabinet-num .color {
    color:#999999;
    font-size: 18px;
  }
  .view-details-button {
    width:75%;
    font-size:18px;
    margin:0 auto;
  }
</style>
</body>
</html>

