box-clamp($line) {
  if $line == 1 {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  } else { 
    display: -webkit-box;
    -webkit-line-clamp: $line;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

for num in (1..3) {
  [ellipsis+{num}]{
    box-clamp(num)
  }
}